doctype html
html
	head
		title Cover Page
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		script(src='/jquery/dist/jquery.min.js' type='text/javascript')
		link(rel='stylesheet' href="/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")
		link(rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css")
		link(rel="stylesheet" href="/stylesheets/navpage.css")
		link(rel="stylesheet" href="/stylesheets/percircle.min.css")
		script(src="/javascripts/percircle.min.js" type="text/javascript")
		script(src="/bootstrap/dist/js/bootstrap.min.js" type='text/javascript')
		script(src="http://code.jquery.com/ui/1.11.4/jquery-ui.js" type='text/javascript')
		script(src="/javascripts/navpage.js" type='text/javascript')

	body
		#pop1.openPopup
			p Why always so organized?
		#pop2.openPopup
			p Let's just enjoy some spontaneity today.
		.container-fluid
			.page-header
				h1#pageHeader(style="display:inline") App Table
				button#cleanUp.btn.btn-primary.pull-right(style='position:absolute;right:10px' disabled) Clean Up
			#resumeDownload.small.orange.pull-right(data-percent='0' style="display:inline;cursor:pointer")
			.row
				#notebook.col-sm-2.col-xs-6.col-sm-6.col-md-3.text-center.leftspan.app
					i.fa.fa-pencil-square-o(style="font-size:120px;color:black;text-shadow:2px 2px 4px #000000;cursor:pointer")
					h5 Notebook
				.col-sm-2.col-xs-6.col-sm-6.col-md-3.text-center.leftspan.app
					i.fa.fa-anchor(style="font-size:120px;color:black;text-shadow:2px 2px 4px #000000;cursor:pointer")
					h5 Dummy
				.col-sm-2.col-xs-6.col-sm-6.col-md-3.text-center.leftspan.app
					i.fa.fa-anchor(style="font-size:120px;color:black;text-shadow:2px 2px 4px #000000;cursor:pointer")
					h5 Dummy
				.col-sm-2.col-xs-6.col-sm-6.col-md-3.text-center.leftspan.app
					i.fa.fa-anchor(style="font-size:120px;color:black;text-shadow:2px 2px 4px #000000;cursor:pointer")
					h5 Dummy
			.row
				.col-sm-2.col-xs-6.col-sm-6.col-md-3.text-center.leftspan.app
					i.fa.fa-anchor(style="font-size:120px;color:black;text-shadow:2px 2px 4px #000000;cursor:pointer")
					h5 Dummy
				.col-sm-2.col-xs-6.col-sm-6.col-md-3.text-center.leftspan.app
					i.fa.fa-anchor(style="font-size:120px;color:black;text-shadow:2px 2px 4px #000000;cursor:pointer")
					h5 Dummy
			footer.footer(style="background-color:#ffffff")
				.container
					p Made by Duo Tao @ 2015
