doctype html
html
	head
		title Cover Page - Duo's apps
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet' href="/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css")
		link(rel="stylesheet" href="/stylesheets/navpage.css")
		link(rel="stylesheet" href="/stylesheets/percircle.min.css")
		link(rel="stylesheet" href="/stylesheets/bootstrap-switch.min.css")
		script(src='/jquery/dist/jquery.min.js' type='text/javascript')
		script(src="/javascripts/bootstrap-switch.min.js" rel="stylesheet")
		script(src="/javascripts/percircle.min.js" type="text/javascript")
		script(src="/bootstrap/dist/js/bootstrap.min.js" type='text/javascript')
		script(src="https://code.jquery.com/ui/1.11.4/jquery-ui.js" type='text/javascript')
		script(src="/javascripts/navpage.js" type='text/javascript')

	body
		.background
		.container
			.page-header
				h1.pageHeader Have a Nice Day!
			#resumeDownload.small.orange.pull-right(data-percent='0' style="display:inline;cursor:pointer")
			.row
				#notebook.col-sm-2.col-xs-6.col-sm-6.col-md-3.text-center.leftspan.app
					i.fa.fa-pencil-square-o.app-icon(style='color:blue')
					h5 Notebook
				#visionProtector.col-sm-2.col-xs-6.col-sm-6.col-md-3.text-center.leftspan.app
					i.glyphicon.glyphicon-eye-open.app-icon	(style='color:red')
					h5 Vision Protector
			footer.footer(style="background-color:#ffffff")
				p Made by Duo Tao @ 2015
				input#adm-sw(data-size="mini" type="checkbox" name="adm-sw")
