extends newnoteform
block content
	- var page = 0;
	include partials/navbar
	.container-fluid
		.pageheader
			h1 New Note
			a(type="button" class="btn btn-primary" href="/checknotes" style="position:absolute; right:20px; margin-bottom:0px margin-left:10px") Check All Notes
		.container
			form#noteSubmitForm(role='form' name='note')
				.form-group
					h3#tag(name='tag') EXP
				.form-group
					h1#title(name='title') Default_Title
				.form-group
					h3#keywords(name='keywords') Default_Keywords,
				.form-group
					textarea#mytextarea(name='details') Default_Details
				if login
					.form-group
						button#submitButton.btn.btn-success(type='button') Submit
				else
					.form-group
						button#submitButton.btn.btn-success(type='button' disabled) Submit
		footer.footer(style="background-color:#ffffff")
			p Made by Duo Tao @ 2015
			input#adm-sw(data-size="mini" type="checkbox" name="adm-sw")
