doctype html
html
	head
		title Take a Note - Duo's apps
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel='stylesheet', href='/stylesheets/note.css')
		link(rel='stylesheet', href="/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet" href="/stylesheets/bootstrap-switch.min.css")
		link(rel='stylesheet' href='/stylesheets/newnotes.css')
		script(src='/jquery/dist/jquery.min.js' type='text/javascript')
		script(src="/javascripts/bootstrap-switch.min.js" rel="text/javascript")
		script(src="/bootstrap/dist/js/bootstrap.min.js" type='text/javascript')
		script(src='/tinymce/tinymce.min.js' type='text/javascript')
		script(src='/javascripts/newnotes.js' type='text/javascript')

	body
	block content
