doctype html
html
  head
    title Scheduler
    script(src='/javascripts/scheduler.js', type="text/javascript")

  body
    form
      input(type='text' placeholder='title')#title
      input(type='text' placeholder='details')#details
      input(type='text' placeholder='place')#place
      input(type='datetime-local' placeholder='start')#start
      input(type='datetime-local' placeholder='end')#end
      input(type='submit') Submit
