.pageheader h1 {
  color:blue;
  display:inline;
}

.pageheader a {
  position:absolute;
  right:20px;
  margin-bottom:20px;
}

.pageheader h1 {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color:blue;
  margin-top:0px;
}
